/node_modules
/vendor
.env
.env.backup
.env.production
package-lock.json
composer.lock
/storage/*.key
/storage/app/public/kyc/*
/storage/app/public/p2p_proofs/*
/storage/app/public/deposits/*
/storage/app/public/settings/*
/public/storage
#public/build
.phpunit.result.cache
.vagrant
.idea
.vscode